footer {
  /* height: 20%; */
  background-color: #f0f0f0;
}

.footer-wrapper {
  height: 200px;
  width: auto;
  position: relative;
  top: 0;
  background-color: rgb(15, 27, 43);
  color: #f0f0f0;
}

.logo-footer {
  /* position: absolute; */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
  width: 100%;
}

.logo-footer .fas {
  font-size: 40px;
  margin-right: 20px;
}

.logo-footer h5 {
  font-family: "Parisienne", cursive;
  font-size: 32px;
}

.icon-foot-wrapper {
  height: 50%;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  color: #f0f0f0;
  text-align: center;
}

.icon-foot-wrapper ul {
  display: flex;
  overflow: hidden;
  justify-content: space-around;
  align-items: center;
}

.icon-foot-wrapper ul li {
  list-style: none;
  margin: 10px;
  text-decoration: none;
  color: inherit;
  float: left;
  font-size: 40px;
  text-decoration: none;
  color: inherit;
}

.icon-foot-wrapper ul li a {
  text-decoration: none;
  color: inherit;
  text-align: center;
  display: block;
  padding: 16px;
}

/* .icon-foot-wrapper ul li:nth-child(1),
.icon-foot-wrapper ul li:nth-child(2) {
  font-size: 40px;
  text-decoration: none;
  color: inherit;
} */
/* .icon-foot-wrapper ul li:nth-child(3) {
  text-decoration: none;
  color: inherit;
} */

/* bottom line */
.bottom-line {
  /* make display visible in larger screen */
  display: none;
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #ffffff;
  /* display: flex; */
  bottom: 20%;
}

.all-rights {
  /* make display visible in larger screens */
  display: none;
  color: #ffffff;
  position: absolute;
  height: 20px;
  font-size: 12px;
  bottom: 15px;
  left: 20px;
}
